<!DOCTYPE html>
<html xmlns:th="'https://www.thymeleaf.org" xmlns: layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" 
		integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" 
		referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
		
	</head>
	<body>
		<div>
			<div th:replace="layouts/commonHeader :: header">My Header</div>
			<label>What is your role?</label>
    <input type="radio" id="owner" name="role" value="owner">
    <label for="owner">Owner</label><br>
    <input type="radio" id="chef" name="role" value="chef">
    <label for="chef">Chef</label>
	<br>
			<section layout:fragment="content">
				<p>My Body Contents</p>
			</section>
			
		</div>
	</body>
	<script>
		// Event listeners for role-based actions
		console.warn("hello");
		changestate("new user");
		document.getElementById("owner").addEventListener("click", function(){
			var role = "owner";
			console.warn(role);
			changestate(role);
		});

		document.getElementById("chef").addEventListener("click", function(){
			var role = "chef";
			console.warn(role);
			changestate(role);
		});
	</script>
</html>